@{
    ViewData["Title"] = "About";
}
<div class="container">
    <h2>Your project management solution. </h2>
    <p>DevDash was created with one goal in mind: to simplify your project management experience.</p>

    <div>
        <img src="../images/trello_github-4.png" style="max-width:100%; max-height:100%;"/>
    </div>

    <hr />
    <p>Add more details here </p>

    <hr />
    <p style="font-weight: bold; color:blue;">
        A note on our 3-step authentication process:
    </p>
    <p> 
        In order to integrate your GitHub and Trello account, DevDash requires your authorization to both those account.
        Your initial registration for DevDash will take longer, while we set everything up, but any subsequent logins won't require the authentication steps. </p>
    <p>
        Thank you for your patience and understanding!</p>
</div>