@{
    ViewData["Title"] = "IndividualProjectDD";
}
    <h2>ProjectDashboard</h2>

<div class="flex">

    <div class="issues" id="verticalScroll">
        <h3>Open Issues for this Repo</h3>
        <table>
            <tr>
                <td>GitHub Issue1</td>
            </tr>
            <tr>
                <td>GitHub Issue2</td>
            </tr>
            <tr>
                <td>GitHub Issue3</td>
            </tr>
            <tr>
                <td>GitHub Issue1</td>
            </tr>
            <tr>
                <td>GitHub Issue2</td>
            </tr>
            <tr>
                <td>GitHub Issue3</td>
            </tr>
            <tr>
                <td>GitHub Issue1</td>
            </tr>
            <tr>
                <td>GitHub Issue2</td>
            </tr>
            <tr>
                <td>GitHub Issue3</td>
            </tr>
            <tr>
                <td>GitHub Issue1</td>
            </tr>
            <tr>
                <td>GitHub Issue2</td>
            </tr>
            <tr>
                <td>GitHub Issue3</td>
            </tr>
            <tr>
                <td>GitHub Issue1</td>
            </tr>
            <tr>
                <td>GitHub Issue2</td>
            </tr>
            <tr>
                <td>GitHub Issue3</td>
            </tr>
            <tr>
                <td>GitHub Issue1</td>
            </tr>
            <tr>
                <td>GitHub Issue2</td>
            </tr>
            <tr>
                <td>GitHub Issue3</td>
            </tr>
            <tr>
                <td>GitHub Issue1</td>
            </tr>
            <tr>
                <td>GitHub Issue2</td>
            </tr>
            <tr>
                <td>GitHub Issue3</td>
            </tr>
            <tr>
                <td>GitHub Issue1</td>
            </tr>
            <tr>
                <td>GitHub Issue2</td>
            </tr>
            <tr>
                <td>GitHub Issue3</td>
            </tr>
            <tr>
                <td>GitHub Issue1</td>
            </tr>
            <tr>
                <td>GitHub Issue2</td>
            </tr>
            <tr>
                <td>GitHub Issue3</td>
            </tr>
            <tr>
                <td>GitHub Issue1</td>
            </tr>
            <tr>
                <td>GitHub Issue2</td>
            </tr>
            <tr>
                <td>GitHub Issue3</td>
            </tr>


        </table>
    </div>
    <div class="trelloBoardContainer" id="horizontalScroll">
        <h1>Helllloooooooooooooooooooooooooooooooooooooooooooo00000000000000000000000000000000000000000000000000000000000000000000000000000000000</h1>
    </div>

</div>
