@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Welcome to DevDash</h2>
    
    <h4>Fitts Law</h4>
    <h4>is</h4>
    <h4>the shit</h4>

    <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
</div>
