@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Welcome to DevDash</h2>
    <h4>Improving Developer Efficiency!</h4>
    
    <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
</div>
