@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Welcome to DevDash</h2>
    
    <h4>Integration of your favourite collaboration tools</h4>
    <h4>Improve Workflows</h4>
    <h4>Efficiant project management</h4>

    <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
</div>
