
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AuthorizeTrello</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var hash = location.hash.substr(1);
            var token = hash.substr(hash.indexOf("=") + 1);

            $.ajax({
                type: "POST",
                url: '@Url.Action("AuthorizeTrello", "Authentication")',
                data: { trelloToken: token },
                success: function (data) {
                    if (data.result == 'Redirect') {
                        window.location = data.url;
                    }
                }
            })
        });
    </script>
</head>
<body>
</body>
</html>
