@model DevDash.Models.AuthorizationViewModels.AuthorizationViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Authorization Page</a>
</p>

<div id="githubauth">
    @if (Model.GithubAuthorized)
    {
        <div>
            <p>Already Authorized</p>
        </div>
    }
    else
    {
        <div>
            <a href="@Model.GithubAuthURL">Authorize with github</a>
        </div>
    }
</div>

<div id="trelloauth">
    @if (Model.TrelloAuthorized)
    {
        <div>
            <p>Already Authorized</p>
        </div>
    }
    else
    {
        <div>
            <a href="@Model.TrelloAuthURL">Authorize with trello</a>
        </div>
    }
</div>