@model DevDash.Models.DashboardViewModels.DashboardDataViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="~/js/TrelloCard.js"></script>
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="~/css/TrelloCard.css" rel="stylesheet" type="text/css" />

<body>
    <div class="container">
        <h2>Project Dashboard</h2>
        <hr />
    </div>

    <div class="row">

        <div class="col-md-3">
            @* make the left "nav" pull up all issues for the repo *@
            <div class="nav nav-pills nav-stacked"></div>
            <h3>Repository Issues</h3>
            @Html.Partial("IssuesPartialView", Model.Issues)
        </div>

        <div class="col-md-9">
            <div class="scrolling-trelloboard-wrapper">
                @Html.Partial("TrelloListPartialView", Model.TrelloViewModel)
            </div>


        </div>

    </div>
</body>
