@model DevDash.Models.DashboardViewModels.DashboardDataViewModel 

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <div class="container">
        <h2>Project Dashboard</h2>
        <hr />
    </div>

    <div class="row">
               
        <div class="col-md-3">
            @* make the left "nav" pull up all issues for the repo *@
            <div class="nav nav-pills nav-stacked"></div>
            <h3>Repository Issues</h3>
            @Html.Partial("IssuesPartialView", Model.Issues)
        </div>

        <div class="col-md-9">
            <div class="scrolling-trelloboard-wrapper">
                @Html.Partial("TrelloListPartialView", Model.TrelloViewModel)
            </div>


        </div>
        
    </div>
</body>
