@Model IReadOnlyList<IOctokit.Issue>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="issues" id="verticalScroll">
    <h3>Open Issues for this Repo</h3>
    <table>
        @foreach(Octokit.Issue issue in Model)
        {
            <tr>
                @issue.Title
            </tr>
        }

    </table>
</div>
