@model DevDash.Models.ApplicationHomeViewModels.CombinedViewModel

@{
    ViewData["Title"] = "Logged in DevDash Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
<div id="containerHomeContent">
    <h3>Choose from your existing Dashboards: </h3>

    <div id="ddListDisplay">
        @if (Model.ApplicationHomeViewModel.UserDashboards.Count() == 0)
        {
            <div class="trelloBoardPreview">
                <h4 id="text">No dashboards created!</h4>
            </div>
        }
        else
        {
            foreach (Dashboard dash in Model.ApplicationHomeViewModel.UserDashboards)
            {
                <div class="trelloBoardPreview">
                    <a href="~/dashboards/@dash.DashboardId" id="text">@dash.DashboardName</a>
                </div>
            }
        }
    </div>
    <h5>Or, create a new one by linking a repo and board:</h5>
    <div>
        @using (Html.BeginForm("CreateDashboard", "ApplicationHome", FormMethod.Post))
        {
            @Html.DropDownListFor(m => m.CreateDashboardViewModel.RepoId, Model.ApplicationHomeViewModel.GithubRepos, "Select one")
            @Html.DropDownListFor(m => m.CreateDashboardViewModel.BoardId, Model.ApplicationHomeViewModel.TrelloBoard, "Select one")
            @Html.TextBoxFor(m => m.CreateDashboardViewModel.DashboardName)
            
            <input type="submit" value="Create a new dashboard!" />
        }
    </div>

</div>
