@model DevDash.Models.ApplicationHomeViewModels.CombinedViewModel

@{
    ViewData["Title"] = "Logged in DevDash Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
<h2>Your Dashboards</h2><br/>

    <div id="apphomeflexcontainer">
        @if (Model.ApplicationHomeViewModel.UserDashboards.Count() == 0)
        {
                <h4 id="text">You don't have any dashboards yet</h4>
        }
        else
        {
            foreach (Dashboard dash in Model.ApplicationHomeViewModel.UserDashboards)
            {
                    <div class="apphomeflexitem">
                        <a href="~/dashboards/index/@dash.DashboardId" class="fill-div" style="padding:5px;">
                            <h4 style="color:white;">
                                @dash.DashboardName
                            </h4>
                        </a>
                   </div>
            }
        }
    </div>

    <br /><br />
    <h4 style="font-weight:bold;">Create a new Dashboard by linking a Github repository to a Trello board</h4>
    <div class="row">
        @using (Html.BeginForm("CreateDashboard", "ApplicationHome", FormMethod.Post))
        {
            <div class="col-md-2"> @Html.DropDownListFor(m => m.CreateDashboardViewModel.RepoId, Model.ApplicationHomeViewModel.GithubRepos, "Select a Repo")</div>
            <div class="col-md-3"> @Html.DropDownListFor(m => m.CreateDashboardViewModel.BoardId, Model.ApplicationHomeViewModel.TrelloBoard, "Select a Board")</div>
            <div class="col-md-3">Name:@Html.TextBoxFor(m => m.CreateDashboardViewModel.DashboardName)</div>

            <div class="col-md-1"> <input type="submit" class="btn btn-success" value="Create!" /> </div>
            <div class="col-md-3"/>
    }
</div>

</div>
